DB = "db_name"
HOST = "host.name"
USER = "db_user"
PASS = "db_password"
API_KEY = "weatherapi_key"
LAT_LONG = "57.71,11.97"
TEMPERATURE_API_HOST = "new.temperature.hrvatin.se/api/readings"
TEMPERATURE_API_TOKEN = "temperature_api_token"
